In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

In [9]:
# Data is already preprocessed here
df = pd.read_csv('./data_json_preprocessed.csv')
df.head()

,Unnamed: 0,horas_disponiveis,tipo_user,user_id,adtech,agritech,biotech,edtech,fashiontech,fintech,...,machine-learning,marketing-digital,photoshop,php,python,react,scikit-learn,scrum,scss,seo
0,0,0.117209,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1,1.465106,1,1,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,-1.230689,0,2,0,0,1,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.117209,0,3,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,1.465106,0,4,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
X = df.iloc[:,1:]
X.head(3)

,horas_disponiveis,tipo_user,user_id,adtech,agritech,biotech,edtech,fashiontech,fintech,healthtech,...,machine-learning,marketing-digital,photoshop,php,python,react,scikit-learn,scrum,scss,seo
0,0.117209,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.465106,1,1,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,-1.230689,0,2,0,0,1,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
tsne = TSNE(n_iter=2000)
tsne.fit_transform(X)